<% @posts.each do |post| %>
  <div class="anchor" id="post<%= post.id %>"></div>
  <section class="panel panel-default">
    <header class="panel-heading">
      <h3>
        <%= post.title %><br>
        <small>
        Posted: <%= time_ago_in_words(post.created_at) %> ago.
        </small>
      </h3>
    </header>
    <article class="panel-body">
      <p><%= post.body %></p>
    </article>
    <footer>
      <!-- Future Comments Preview -->
    </footer>
  </section>
<% end %>