<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding media comment">
  <header class="media-left media-middle">
    <h4><span class="glyphicon glyphicon-user"><%= comment.author_name %>:</span></h4>
  </header>
  <section class="media-body">
    <p class="text-center comment-body"><span class="glyphicon glyphicon-comment strong">:&nbsp;</span><%= comment.body
    %></p>
  </section>
</div>