#main-content-wrapper {
  .container-fluid {
    position: relative;
  }
}

/* Navbar styles */

ul.nav {
  li {
    a { margin-right: 20px; }
  }
}

.anchor {padding-top: 50px;}

a {
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

hr {
  border-top: 1px solid #777;
}

/* Typography */

h1,
h2{
  font-family: 'Alex Brush', cursive;
}

h3,
h4 {
  font-family: 'Cinzel', serif;
}