$width-transition: width 0.60s ease-in-out .025s;
$padding-transition: padding 0.60s ease-in-out .025s;

/* Sidebar Menu */

#sidebar-wrapper {
  top: 50px;
  z-index: 1;
  position: fixed;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background-color: #2E2F30;
  border: 2px solid lightgray;
  opacity: 0.8;
          transition: $width-transition;
  -webkit-transition: $width-transition;
}

/* Main Content */

#main-content-wrapper {
  width: 100%;
  position: absolute;
          transition: $padding-transition;
  -webkit-transition: $padding-transition;
}

#page-wrapper.menu-displayed {
  #sidebar-wrapper{
    width: 250px;
            transition: $width-transition;
    -webkit-transition: $width-transition;
  }
  #main-content-wrapper {
    padding-left: 250px;
            transition: $padding-transition;
    -webkit-transition: $padding-transition;
  }
}