$width-transition: width 0.60s ease-in-out .025s;
$padding-transition: padding 0.60s ease-in-out .025s;

/* Navbar Styles */

#toggle-menu {
  text-decoration: none;
  font-family: 'Cuprum', sans-serif;
  font-size: 1.4em;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #333;
  &:hover {
    color: darkgray;
  }
}

/* Sidebar Menu */

#sidebar-wrapper {
  .sidebar {
    h4 {
      color: #EEE;
      font-size: 1.75em;
      font-family: 'Niconne', cursive;
    }
    ul {
      padding: 20px;
      li {
        margin: 10px 0px 5px;
        a {
          font-size: 1.4em;
          color: #BBB;
          font-family: 'Cinzel', serif;
          &:hover {
            color: #121212;
          }
        }
      }
    }
    .footer {
      .copyright {
        color: #CCC;
      }
      position: relative;
      bottom: 0px;
      left: 20px;
    }
  }
  top: 48px;
  z-index: 1;
  position: fixed;
  width: 0;
  height: 100%;
  overflow: hidden;
  background-color: #2E2F30;
  border: 2px solid lightgray;
  opacity: 0.8;
          transition: $width-transition;
  -webkit-transition: $width-transition;
}

#about_me {
  margin-top: 30px;
  color: #DDD;
  div {
    border-radius: 3px;
    border: 2px solid gainsboro;
    header {
      img {
        max-width: 160px;
        border-radius: 2px;
        border: 1px solid gainsboro;
      }
      h3 {
        font-family: 'Cinzel', serif;
        font-size: 1.5em;
      }
    }
    section {
      p {
        font-family: 'Cuprum', sans-serif;
        font-size: 1.2em;
      }
    }
  }
}

/* Main Content */

#main-content-wrapper {
  width: 100%;
  position: absolute;
          transition: $padding-transition;
  -webkit-transition: $padding-transition;
}

#page-wrapper.menu-displayed {
  #sidebar-wrapper{
    width: 250px;
            transition: $width-transition;
    -webkit-transition: $width-transition;
  }
  #main-content-wrapper {
    padding-left: 250px;
            transition: $padding-transition;
    -webkit-transition: $padding-transition;
  }
}