// Place all the styles related to the Posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.padding {
  padding: 25px;
  margin: 5px;
}

.post-header {
  h3 {
    small {
      font-size: 0.5em;
    }
    font-size: 1.7em;
  }
}

.post-body {
  p {
    font-size: 1.2em;
    font-family: 'Cuprum', sans-serif;
  }
}

.archives {
  a {
    &:hover {
      color: #777;
    }
    font-size: 1.1em;
    color: #2E2F30;
  }
}

/* Pagination Styles */
.pagination-style {
  a, span, em {
    padding: 0.2em 0.5em;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2E2F30;
    color: white;
    border: 1px solid #252627;
  }
  a {
    text-decoration: none;
    color: #666;
    border: 1px solid #777;
    &:hover,
    &:focus {
      color: #444;
      border-color: #333;
    }
  }
  margin: 15px 0px;
}