<div class="sidebar">
  <ul class="category text-center">
    <li><h4>Website</h4></li>
    <li><%= link_to "Blog", root_path %></li>
    <li><a href="">About</a></li>
  </ul>
  <ul class="category text-center">
    <li><h4>Social</h4></li>
    <li><a href="https://github.com/ErraticCreation" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/tyler-nixon-8187a4ab
" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a></li>
    <li><a href="https://twitter.com/erraticcreation" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>
      Twitter</a></li>
    <li><a href="http://tyler-nixon.com" target="_blank"><i class="fa fa-home" aria-hidden="true"></i>
      Personal Website</a></li>
  </ul>
</div>