<!DOCTYPE html>
<html>
  <head>
    <%= render '/layouts/head_tags' %>
  </head>
  <body data-spy="scroll" data-target="#navbar">

    <%= render '/layouts/messages' %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
